.container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 150px auto 0 auto;
  padding: 20px 0;
  color: #fff;
  background: rgb(27, 20, 136);
}

.content {
  width: 60%;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #00C4FF;
}

.link {
  display: flex;
  height: 22px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 22px;
  cursor: pointer;
}

.qrcode {
  width: 160px;
  border-radius: 4px;
}

.copyRight {
  text-align: center;
}

.imgItem {
  margin-right: 20px;
  height: 30px;
  weight: 30px;
}