.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.banner {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 60%;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.04);
  border-radius:4px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.title {
  margin-bottom: 24px;
  color: #FB7C6E;
  font-size: 30px;
  font-family:Arial;
  font-weight:bold;
}

.baseShard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 250px;
  margin-top: 20px;
  padding: 30px;
}

.evenShard {
  composes: baseShard;
  background:rgba(255,255,255,1);
  border: 2px solid rgba(255,255,255,1);
}

.oddShard {
  composes: baseShard;
  background:rgba(250,250,250,1);
  border: 2px solid rgba(250,250,250,1);
}

.shardTitle {
  color: #333333;
  font-weight: 400;
  font-family:Arial;
  font-size: 30px;
}

.desc {
  color: #000;
  font-size: 20px;
}

.value {
  margin: 0 0 24px 5px;
  color: #000;
  font-size: 16px;
  text-align: left;
}

.nextValue {
  margin: 0 0 0 5px;
  color: #000;
  font-size: 16px;
  text-align: left;
}

.warnValue {
  margin: 0 0 0 5px;
  color:rgba(255,199,28,1);
  font-size: 16px;
  text-align: left;
}

.navItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.link {
  width: 124px;
  height: 40px;
  padding: 0 16px;
  color: rgba(31, 56, 88, 0.6);
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 18px;
  cursor: pointer;
}

.imgItem {
  margin-right: 10px;
}

.iconItem {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.checkItem { 
  display: flex;
  align-items: center;
  margin-top: -55px;
  margin-left: 20px;
}

.checkImgItem {
  margin-left: 10px;
}

.bidImgItem {
  margin-left: 20px;
  width: 35px;
  height: 35px;
}

.auctionInfo {
  display: flex;
  align-items: center; /*定义body的元素垂直居中*/
  margin-bottom: 24px;
}

.bidInfo {
  display: flex;
  justify-content: flex-start;
  width: 600px;  
  margin-bottom: 20px;
}

.bidBtn {
  display: flex;
  justify-content: center;
  width: 600px;  
  margin-bottom: 20px;
}

.baseItem {
  border-radius: 100px;
  padding: 15px 32px;
  width: 200px;
  height: 50px;
}

.bidLink {
  color: $color-brand1-6 !important;
  font-weight: 500;
  font-size: 60px;
  text-decoration: none;
  
  display: flex;
  align-items: center;
}

.bidItem {
  border-radius: 100px;
  padding: 15px 32px;
  width: 200px;
  height: 50px;
  margin-right: 20px;
}
