@import '@alifd/next/reset.scss';

html,
body {
  width: 1500px;
  margin: 0 auto;
}

.next-table-header-node .next-table-cell-wrapper {
  background: #ffffff;
  color: rgb(34, 36, 186);
  font-size: 25px;
}

.next-pagination-list .next-pagination .next-pagination-item.next-current {
  background: #00C4FF;
}

.next-dialog .next-dialog-header {
  padding: 12px 20px 12px 20px;
  border-bottom: 0 solid rgba(0,0,0,0);
  border-style: none;
  font-size: 24px;
  color: #ffffff;
  text-align:center;
  height: 60px;    
  background:rgba(0,195,255,1);
  border-radius:8px;
}
