.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.content {
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.imgItem {
  margin-top: 10px;
}

